<div class="filter_container">

    <div >
        <div >
            <h6>
                Filtra <fa-icon [icon]="faFilter"></fa-icon>
            </h6>
        </div>
    </div>
    <div class="row filters_container justify-content-between" >
        <div class="row" id="left">
            <app-filter-name (onFilterName)="filterName($event)"></app-filter-name>
        </div>
        <div class="row" id="center">
            <app-filter-age (onFilterAge)="filterAge($event)"></app-filter-age>
        </div>
        <div class="row" id="right">
            <app-select-gender (onFilterGender)="filterGender($event)"></app-select-gender>
        </div>
    </div>
</div>