<div class="filter_container">
    <div>
        <section>
            <ul>
                <li>
                    <mat-checkbox 
                    [(ngModel)]="isNameChecked" 
                    [disabled]="isAgeChecked || isGenderChecked" 
                    (click)="$event.stopPropagation()"
                    >

                        <div id="name_component">
                            <app-filter-name 
                            (onFilterName)="filterName($event)"
                            [ageOrGenderClick]="isAgeChecked|| isGenderChecked"
                            [clicked_namecheck]="isNameChecked"
                            ></app-filter-name>
                        </div>
                    </mat-checkbox>
                </li>
                <li>
                    <mat-checkbox 
                    [(ngModel)] = "isAgeChecked"
                    [disabled]= "isNameChecked || isGenderChecked"
                    (click)="$event.stopPropagation()"
                    >
                   

                        <div id="age_component">
                            <app-filter-age 
                            (onFilterAge)="filterAge($event)"
                            [nameOrGenderClick]="isNameChecked || isGenderChecked" 
                            [clicked_agecheck] = "isAgeChecked"
                            ></app-filter-age>
                        </div>
                    </mat-checkbox>
                </li>
                <li>
                    <mat-checkbox 
                    [(ngModel)]="isGenderChecked" 
                    [disabled]="isNameChecked || isAgeChecked"
                    >

                        <div id="gender_component" >
                            <app-filter-gender 
                            (onFilterGender)="filterGender($event)"
                            [nameOrAgeClick]="isNameChecked|| isAgeChecked"
                            [clicked_gendercheck] = "isGenderChecked"
                            ></app-filter-gender>
                        </div>
                    </mat-checkbox>
                </li>
            </ul>
        </section>
    </div>