<!-- questo è il form per aggiungere un eroe, credo che lo userò anche per poter modificare l'eroe -->

<div class= "add_edit_hero">
    <div class= "form-control">
        <label for="text">Name</label>
        <input 
        type= "text" 
        name = "text" 
       
        id = "hero_name" 
        placeholder="Aggiungi e/o aggiorna" 
        />
    </div>
    <div class= "form-control">
        <label for="text">Age</label>
        <input 
        type= "text" 
        name = "text" 
        id = "hero_name" 
        placeholder="Aggiungi e/o aggiorna" 
        />
    </div>
    <div class= "form-control">
        <label for="text">Gender</label>
        <input 
        type= "text" 
        name = "text" 
        id = "hero_name" 
        placeholder="Aggiungi e/o aggiorna" 
        />
    </div>
    <div class= "form-control">
        <label for="text">Signs</label>
        <input 
        type= "text" 
        name = "text" 
        id = "hero_name" 
        placeholder="Aggiungi e/o aggiorna" 
        />
    </div>
    <div class= "form-control">
        <label for="text">Notes</label>
        <input 
        type= "text" 
        name = "text" 
        id = "hero_name" 
        placeholder="Aggiungi e/o aggiorna" 
        />
    </div>

</div>