<div class="hero">
    <!--- prova button con "cancella che stampa il singolo elemento "
    <button (click) = "onDeleteHero(hero)"> Cancella

    </button>
    
-->
   
    <button (click)="onEditHero(hero)">
    
    <fa-icon [icon]="faEdit"></fa-icon>
    </button>

    <button (click)="onVisualizeHero(hero)">
  
    <fa-icon [icon]="faEye"></fa-icon>
    </button>

    <button 
    (click)="onDeleteHero(hero)">

    <fa-icon [icon]="faTrash"></fa-icon>
    </button>

   


</div>

<!---- 


     <select class="form-select" aria-label="selectaction" >
        <option selected>Open this select menu</option>

        <option value="1"  (click)="onEditHero(hero)">
            Modifica
            
            <fa-icon [icon]="faEdit"></fa-icon>
        </option>
        <option value="2" (click)="onVisualizeHero(hero)">
            Visualizza
            <fa-icon [icon]="faEye"></fa-icon>
        </option>
        <option value="3"  (click)="onDeleteHero(hero)">&#xf1f8;
            Cancella
            <fa-icon [icon]="faTrash" ></fa-icon>
        </option>
    </select>

-->