<div class = "div_filter">
    <h5>
    Filtra <fa-icon [icon]="faFilter"></fa-icon></h5>

    <app-filter-name filterName = "filterName()"></app-filter-name>

    <app-filter-age></app-filter-age>
      
    <app-select-gender (click)="filterGender()"></app-select-gender>

</div>

<div class = "div_tablehero">
<table mat-table [dataSource]="dataSource">

    <!-- id Column -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- age Column -->
    <ng-container matColumnDef="age">
        <th mat-header-cell *matHeaderCellDef> Age </th>
        <td mat-cell *matCellDef="let element"> {{element.age}} </td>
    </ng-container>

    <!-- gender Column -->
    <ng-container matColumnDef="gender">
        <th mat-header-cell *matHeaderCellDef> Gender </th>
        <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
    </ng-container>

    <!-- signs column-->
    <ng-container matColumnDef="signs">
        <th mat-header-cell *matHeaderCellDef> Signs </th>
        <td mat-cell *matCellDef="let element"> {{element.signs}} </td>
    </ng-container>

    <!-- notes column-->
    <ng-container matColumnDef="notes">
        <th mat-header-cell *matHeaderCellDef> Notes </th>
        <td mat-cell *matCellDef="let element"> {{element.notes}} </td>
    </ng-container>

    <!-- actions column-->
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element">
            <app-hero-item [hero] = "element"> <!-- passo ad hero-item un elemento singolo -->
            </app-hero-item>
        </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">Nessun risultato</td>
      </tr>

</table>
</div>


<!--il bottone per poter aggiungere un eroe nuovo, prima c'era direttamente la componente add-hero,
l'idea è che si clicca il bottone, triggera la componente modale e dentro la modale c'è add-hero -->

<button class ="btn btn-primary" (click)="openModal()">Aggiungi Eroe</button>
<!--- heroes prova modal-->

