<div class="div-login">

    <form class = "form-login">
        <div class="row justify-content-center">
            <div class="col-auto">
                <label for="username" class ="label_item">Username</label>
                <input type="username" class="form-control" id="username" placeholder="Username">
            </div>
            <div class="row justify-content-center">
                <div class="col-auto">
                    <label for="Password"class ="label_item">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Password">
                </div>
            </div>
        </div>
      
    </form>
    <div class="row justify-content-center ">
        <div class="col-auto ">
            <a routerLink="components/heroes"><button class="btn btn-primary"(click)="Entra()"> Entra </button></a>
        </div>
    </div>


</div>