<div class = "add_hero">
    <div>
        <h6 [(ngModel)]="name" name="name">Stai modificando: {{hero.name}}</h6>
    </div>
    <div class ="float-right">
      <button id="btn_editform" class = "btn" (click)="checkToEnable()">Modifica</button>
    </div>
<div class="form-group" >
    <label for="name">Name*</label>
    <input [disabled]="clicked" type="text" class="form-control" id="name"
           name="name" [(ngModel)]="name" 
           [ngModelOptions]="{standalone: true}">
  </div>
  
  <div class="form-group">
    <label for="age">Age*</label>
    <input [disabled]="clicked" type="text"  class="form-control" id="age"
            name="age"  [(ngModel)]="age" [ngModelOptions]="{standalone: true}">
  </div>
  <div>
      <app-select-gender  (onFilterGender)="chosenGender($event)"[dataHero]=dataHero [clicked_edit]="clicked"></app-select-gender>
  </div>
  <div class="form-group">
    <label for="signs" >Signs</label>
   <textarea [(ngModel)]="signs" [disabled]="clicked"></textarea>
  </div>
  <div class="form-group">
      <label for="notes">Notes</label>
      <textarea   [(ngModel)]="notes" disabled="clicked"></textarea>
  </div>

  <mat-dialog-actions align="end">
    <button id = "btn_saveedit" mat-button mat-dialog-close class = "btn" (click)="EditHero()">Salva</button>
    <button mat-button [mat-dialog-close]="true"  class = "btn btn-secondary">Annulla</button>
  </mat-dialog-actions>
</div>
