<div class = "add_hero">
    <div>
        <h6>Modifica l'eroe</h6>
    </div>
    <div>
      <button id="btn_editform" class = "btn btn-info" (click)="checkToEnable()">Modifica</button>
    </div>
<div class="form-group" >
    <label for="name">Name*</label>
    <input [disabled]="clicked" type="text" class="form-control" id="name"
           name="name" [(ngModel)]="name" 
           >
  </div>
  
  <div class="form-group">
    <label for="age">Age*</label>
    <input [disabled]="clicked" type="text"  class="form-control" id="age"
            name="age"  [(ngModel)]="age">
  </div>
  <div>
      <app-select-gender (onFilterGender)="chosenGender($event)"[clicked_edit]="clicked"></app-select-gender>
  </div>
  <div class="form-group">
    <label for="signs" >Signs</label>
   <textarea [disabled]="clicked" [(ngModel)]="signs"></textarea>
  </div>
  <div class="form-group">
      <label for="notes">Notes</label>
      <textarea [disabled]="clicked" [(ngModel)]="notes" ></textarea>
  </div>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close class = "btn btn-primary" (click)="EditHero()">Salva</button>
    <button mat-button [mat-dialog-close]="true"  class = "btn btn-secondary">Annulla</button>
  </mat-dialog-actions>
</div>
