/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css"; /**/

body{
  background-color:#E9ECEF;
}

  /* Structure */
table {
    width: 100%;
    table-layout:fixed
  }


.div-login{
    margin-top: 100px;
    border: 1px solid black;
    padding: 15px;
  
}


#heroes_component{
  margin-top: 50px;
}



/* Parte per l'header */
#luna_heroes_header{
  text-align: center;
  font-family: 'Ephesis';
  font-size: 48px;
  color: #343A40;
}

/*age slider bar */
.age_wrapper .ngx-slider .ngx-slider-pointer{
  background-color: #495057
}
.age_wrapper .ngx-slider .ngx-slider-selection{
  background-color: #495057
}





.hero_buttons div{
  display:inline-block;
}
.btn{
  font-size: small;
  text-align: center;
  width: 115px;
  height:30px;
  justify-content: center;
  align-items: center;
 
}
.btn div{
  justify-content: center;
  align-items: center;
}
#left{ /*the filter div*/
  float: left;
  border:1px solid black;
  padding-top: 30px;
 
}
#right{ /*the table div*/
  float: right;
  border:1px solid black;
}

.age_wrapper{
  border: 1px solid black;
}

.input_wrapper{
  border: 1px solid black;
}
.gender_wrapper{
  border: 1px solid black;
}
.div_tablehero{
  overflow-y:scroll;
  height: 450px;
}
.filters_container{
 display: block;
 position: relative;
}
#name_component{
  margin-bottom: 40px;
}

#age_component{
  margin-bottom: 40px;
}
mat-panel-title{
  justify-content: right !important;
}
 #filter_title{
  display: flex;
} 
.div_filter{
  height: 450px;
}